.TextBox {

    width: 300px;
    border-color: grey;
    padding-left: 10px;
    padding-right: 10px;
    height: 110px;
    font-size: 20px;
    margin: 0px 0px 0px 0px;

}

.TextBoxHead {
    font-weight: bold;
    text-decoration: underline;
    padding-left: 5px;
    
}

.TextBoxBody {
    background-color: lightgrey;
    box-shadow: inset 0 0 3px #000000;
    padding: 4px 4px 4px 10px;
    height: 28px;
    
}