.TextBox {

    
    border-color: grey;
    padding-left: 10px;
    padding: 0px 4px 0px 4px;
    height: 80px;
    font-size: 20px;
    margin: 0px 0px 0px 0px;

}

.TextBoxHead {
    font-weight: bold;
    text-decoration: underline;
    padding-left: 5px;
    margin: 4px 4px 4px 0px
    
}

.TextBoxBody {
    background-color: lightgrey;
    box-shadow: inset 0 0 3px #000000;
    padding: 4px 4px 4px 10px;
    height: 28px;
    margin: 0px 0px 0px 0px
    
}

