.PatAllgemeinAlles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px
}

.Box {
    background-color: lightgrey;
    box-shadow: inset 0 0 3px #000000;
    padding: 8px;
    font-size: 20px
}

.Textfeld {
    height: 50%
}

.restrictedHeight {
    height: 20px !important
}