.dropdownDiv {
	display: flex;
	flex-direction: column;
	padding: 0px;
	margin: 0px;
	border: 1px solid rgb(153, 151, 151);
	overflow: auto;
	max-height: 140px;
	position: fixed;
	width: 206px;
	margin-right: 4px;
}

.dropdownDiv div {
	margin: 0px;
	height: 1.5em;
	padding: 1px;
	padding-left: 0.2em;
}

.dropdownDiv div:hover {
	background-color: rgb(250, 151, 164);
}

.second {
	background-color: rgb(189, 186, 186);
}

.first {
	background-color: lightgray;
}

.dropdownInput {
	margin-bottom: 0px;
}
