.Flex {
	display: flex;
	flex-wrap: wrap;
}

.FlexGrow {
	flex-grow: 1;
}

.FlexVertikal {
	display: flex;
	flex-direction: column;
}

.Margin {
	margin: 10px;
}

.MarginBig {
	margin: 20px;
}

.BackgroundYellow {
	background-color: #ffff99;
}

.BackgroundLightblue {
	background-color: lightblue;
}

.Box {
	background-color: lightgrey;
	box-shadow: inset 0 0 3px #000000;
	padding: 8px;
	font-size: 20px;
	margin: 5px 10px 5px 10px;
	min-width: 50px;
	overflow: hidden;
	height: auto
}

.CheckBoxPassiv {
	height: 20px;
	width: 20px;
	margin: 4px;
}

.Grid1 {
	display: grid;
	grid-template-columns: 1fr;
}

.Grid2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.Grid3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.Grid4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Grid3x3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.Beschriftung {
	text-decoration: underline;
	margin-left: 5px;
}

.Fließtext {
	background-color: lightgrey;
	border: 2px solid black;
	overflow: auto;
	margin: 5px;
}

.Unterstrichen {
	text-decoration: underline;
}

.Margin {
	margin: 4px;
}

.NoMarginBottom {
	margin-bottom: 0px !important;
}

.Padding {
	padding: 4px;
}

.Input {
	display: flex;
	margin-left: 20px;
	width: 350px;
}

.Input input {
	border-radius: 2px;
	border: 1px solid black;
	margin: 4px;
	padding: 0.2em;
	width: 200px;
	margin-left: 0px;
	/*box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.7);*/
}

.Input input:hover {
	border: 1px solid blue;
}

.Input label {
	margin: 4px;
	display: inline-block;
	width: 100px;
	overflow: hidden;
}

textarea {
	border-radius: 2px;
	border: 1px solid black;
	margin: 4px;
	padding: 0.2em;
	margin-left: 0px;
	resize: none
}

textarea:hover {
	border: 1px solid blue;
}

button {
	width: 160px !important;
	height: 40px;
	font-weight: bold;
	font-size: 20px;
	overflow: auto;
}

.invisible {
	visibility: hidden;
}